body{
    font-family: Geneva, Damascus, fantasy;
    width: 600px;
    margin: 0 auto;
    border:1px solid #ccc;
    background-color: #88b2d2;
}
h1,
h2{
    font-family: "Gill Sans", "Gujarati Sangam MN", "Chalkboard SE";
    font-weight: 900;
    color: #ccc;;
    text-align: center;
}
em,
a:link,
.intro .subhead{
    font-weight: bold;
}
p{
    font-style: italic;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 28px;
}
.project p{
    font-size:.9384em;
    line-height: 1.6;
}
.architect{
    background-color: white;
}